{% extends 'base.html' %}

{% block title %}Participant{% endblock %}
{%block titr%}آزمون ها{% endblock %}  

<body>
{% block main%} 
    {% if check_is_ostad%}
    <div id="body_container">
        <h1>لینک کلاس: <a href="{% url 'join_class' class.address %}">{{class.address}}</a></h1>        
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="twelve wide column">

                
    <div class="ui small secondary stackable menu ca-title">


        <div class="ui left secondary stackable menu">
            
            <a class="item" href="{% url 'add_azmoon' id %}">ایجاد آزمون جدید</a>
            <a class="item" href="{% url 'edit_class' id %}">ویرایش کلاس</a>
            {% if participant.id == class.owner%}
            <a class="item" href="{% url 'delete_class' id %}">حذف کلاس</a>
            {%endif%}
        </div>
    </div>
    {%endif%}
    <div class="ui three stackable cards">
        {%for az in azmoon %}
            {%if az.showable or check_is_ostad %}
                <a class="ui small link card course-card" href= "{% url 'quest' az.id %}">
                    <div class="image">
                        <img src="https://static.quera.ir/overview/course-images/11-small.0-b062dbbb9f04.jpg">
                    </div>
                    <div class="content" style="position: relative; text-align: center;">
                        <div class="header">{{az.name}}</div>
                    </div>
                    <div class="extra content">
                        {%if timenow > az.start_time and timenow < az.end_time%}
                            در حال برگزاری
                        {%else%}
                            آزمون فعال نیست
                        {%endif%}
                    </div>
                        {% if check_is_ostad%}
                        <div class="extra content">
                            {{az.Question_number}} سوال
                        </div>
                        {%endif%}
                        {% if check_is_ostad%}
                        <div class="extra content">
                            {%if az.showable%}
                                آشکار
                            {%else%}
                                پنهان
                            {%endif%}
                        </div>
                        {%endif%}
                </a>
            {%endif%}
        {%endfor%}

                </div>
                <hr>
                <h1>شرکت کننده ها:</h1>
                {% for part in participants %}
                    <h2><a href="{% url 'part' part.id %}">{{part.first_name}} {{part.last_name}} 
                        {% for partclass in pc %}
                            {% if partclass.participant.id == part.id %}
                            ({{partclass.semat}})
                            {% if class.owner != partclass.participant.id %}
                            {% if class.owner == participant.id%}                           
                                <div class="ui left secondary stackable menu">
                                    {%if partclass.semat == "Ostad"%}
                                        <a class="item" href="{% url 'change_semat' partclass.id %}">تبدیل به دانش آموز</a>
                                    {%elif partclass.semat == "daneshamoz"%}
                                        <a class="item" href="{% url 'change_semat' partclass.id %}">تبدیل به استاد</a>
                                    {%endif%}
                                </div>
                            {%endif%}
                            {%endif%}
                            {%endif%}
                        {% endfor %}
                    </a></h2>
                {% endfor %}
            </div>
            <div class="four wide column">
                <div>
                

                        

<script>
    $('.training-progress').progress();
</script>

                    


<script>
    $('.training-progress').progress();
</script>

                </div>
                <script>
                    $(document).ready(function () {
                        quera.finish_time = moment('2016-02-12T23:55:55+03:30');
                        quera.offset = moment('2021-08-10T22:12:35.640656+04:30').diff(moment());
                        quera.time = moment();
                        quera.update_clock();
                        quera.times = {}
                    });
                </script>
                
            </div>
        </div>
    </div>
    </div>
    
{% endblock %}