{% extends 'base.html' %}

{% block title %}Participant{% endblock %}
{%block titr%}آزمون {{azmoon.name}}{% endblock %}  

<body>
{% block main%} 
<html lang="en">
<head>    
    <meta charset="UTF-8">    
    <title>Index</title>
</head>
<div id="body_container">
        
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="twelve wide column">

                
    <div class="ui small secondary stackable menu ca-title">


        <div class="ui left secondary stackable menu">
            
            <a class="item" href="{% url 'add_question' id %}">اضافه کردن سوال</a>
            <a class="item" href="{% url 'edit_azmoon' id %}">ویرایش آزمون</a>
            {% if not azmoon.isactive %}
            <a class="item" href="{% url 'activate_azmoon' id %}">فعالسازی آزمون</a>
            {% else %}
            <a class="item" href="{% url 'activate_azmoon' id %}">بستن آزمون</a>
            {% endif %}
            <a class="item" href="{% url 'natijeh_azmoon' id %}">جدول نمره ها</a>


        </div>
    </div>
<body dir = 'rtl'>
    <h1> سوالات:</h1>
    <br>
    {% for quest in questions %}
                <a href="{% url 'edit_question' quest.id id %}"><h1>{{quest.Q_text}}</h1></a>
                <img src=""><br>
                <input type="radio" name="answer" id="answer">{{quest.answer1}}<br>
                <input type="radio" name="answer" id="answer">{{quest.answer2}}<br>
                <input type="radio" name="answer" id="answer">{{quest.answer3}}<br>
                <input type="radio" name="answer" id="answer">{{quest.answer4}}<br>
                <h3><hr></h3>
    {% endfor %} 
    <h1>شرکت کننده های دیده:</h1>
    {% for part in examiners %}
        <h2><a href="{% url 'part' part.participant.id %}">{{part.participant.username}}</a></h2>
    {% endfor %}
    <!-- <a href="azmoon_1_participant.xlsx">اطلاعات شرکت کننده ها</a> -->
</body>
</html>
{% endblock %}
