{% extends 'base.html' %}

{% block title %}Participant{% endblock %}

<body>
{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'logout' %}">خروج</a>
{% else %}
  <a href="{% url 'login' %}">ورود</a> 
  <i class="left angle icon divider"></i>
  <a href="{% url 'signup' %}">ثبت نام</a>
{% endif %}
{% endblock %}

</body>
{% block main%} 
<body dir = 'rtl'>
    <h1>{{participant.first_name}} {{participant.last_name}}</h1>
    <h2>{{participant.semat}}</h2>
    <h2>{{participant.mellicode}}</h2>
    <a href="{% url 'azmoon' %}">آزمون ها</a>
      {%for partaz in participant.azmoon.all%}
          <h2>{{partaz.name}}</h2>
      {% endfor %}

</body>
{% endblock %} 

</html>