{% extends 'base.html' %}

{% block title %}Participant{% endblock %}
{%block titr%}
آزمون {{azmoon.name}}


{% endblock %}  

<body>
{% block main%} 
<html lang="en">
<head>    
    <meta charset="UTF-8">    
    <title>Index</title>
</head>

<div id="body_container">
        
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="twelve wide column">

    {% if check_is_ostad%}
    <div class="ui small secondary stackable menu ca-title">

        <div class="ui left secondary stackable menu">
            <a class="item" href="{% url 'add_question' id %}">اضافه کردن سوال</a>
            <a class="item" href="{% url 'edit_azmoon' id %}">ویرایش آزمون</a>
            <a class="item" href="{% url 'delete_azmoon' class.id id %}">حذف آزمون</a>
            {% if not azmoon.isactive_score_board %}
            <a class="item" href="{% url 'activate_score_board' id %}" >فعالسازی جدول امتیازات</a>
            {% else %}
            <a class="item" href="{% url 'activate_score_board' id %}" >پنهان کردن جدول امتیازات</a>
            {% endif %}
            {% if not azmoon.isactive_natijeh %}
            <a class="item" href="{% url 'activate_natijeh' id %}">فعالسازی نتیجه آزمون</a>
            {% else %}
            <a class="item" href="{% url 'activate_natijeh' id %}">پنهان کردن نتیجه آزمون</a>
            {% endif %}
            {% if azmoon.showable %}
            <a class="item" href="{% url 'showable_azmoon' id %}">پنهان کردن آزمون</a>
            {% else %}
            <a class="item" href="{% url 'showable_azmoon' id %}">آشکار کردن آزمون</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="ui small secondary stackable menu ca-title">
    <div class="ui left secondary stackable menu">
        <a class="item" href="{% url 'sherkat_dar_azmoon' id %}">شرکت در آزمون</a>
        {%if examiner%}
        <a class="item" href="{% url 'natijeh_azmoon' examiner.id %}">نتیجه آزمون</a>
        {%endif%}
        <a class="item" href="{% url 'score_board' id %}">جدول نمره ها</a>
    </div>
    </div>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    p {
      text-align: right;
      font-size: 20px;
      margin-top: 0px;
    }
    </style>
    </head>
    <body>
    
    <p id="demo"></p>
    <script >
    var d = "{{date}}"
    var n = "{{now}}"
    var end = "{{end}}"
    
    // Set the date we're counting down to
    var countDownDate = new Date(d).getTime();
    var End = new Date(end).getTime();
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
      // Output the result in an element with id="demo"
      document.getElementById("demo").innerHTML = (days + "روز " + hours + "ساعت "
      + minutes + "دقیقه " + seconds + "ثانیه تا شروع آزمون ");
        
      // If the count down is over, write some text 
      if (distance < 0  && now - End < 0 ) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "آزمون در حال برگزاری است";
      }
      if (now - End > 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "آزمون به پایان رسیده است";      
      }
    }, 1000);
    </script>
    



{% if check_is_ostad%}
<body dir = 'rtl'>
    <h1> سوالات:</h1>
    <br>
    {% for quest in questions %}
        <a href="{% url 'edit_question' quest.id id %}"><h1>{{quest.Q_text}}</h1></a>
        <img src="/media/{{quest.Q_image}}" alt="{{quest.Q_image}}">
        <br>
        {{quest.answer1}}<br>
        {{quest.answer2}}<br>
        {{quest.answer3}}<br>
        {{quest.answer4}}<br>
        <div class="ui small secondary stackable menu ca-title">
            <div class="ui left secondary stackable menu">
                <a class="item" href="{% url 'delete_question' class.id quest.id %}">حذف سوال</a>
            </div>
        </div>
    {% endfor %} 
</body>
{%endif%}
</html>
{% endblock %}
