{% extends 'base.html' %}

{% block title %}Classes{% endblock %}
{%block titr%}کلاس ها{% endblock %}  

<body>
{% block main%} 
    <div id="body_container">
        
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="twelve wide column">

                
    <div class="ui small secondary stackable menu ca-title">


        <div class="ui left secondary stackable menu">
            <a class="item" href="{% url 'add_class' %}">ایجاد کلاس جدید</a>
            <a class="item" href="{% url 'search_class' %}">اضافه شدن به کلاس</a>            
        </div>
    </div>
                <div class="ui three stackable cards">

        {%for Class in participant.partclass.all %}
            <a class="ui small link card course-card" href= "{% url 'azmoon' Class.id %}">
                <div class="image">
                    <img src="https://static.quera.ir/overview/course-images/11-small.0-b062dbbb9f04.jpg">
                </div>
                <div class="content" style="position: relative; text-align: center;">
                    <div class="header">{{Class.name}}</div>
                </div>
                <div class="extra content">
                    {{Class.azmoon_number}} آزمون
                </div>
                <div class="extra content">
                    {{Class.participant_number}} شرکت کننده
                </div>
            </a>
        {%endfor%}
                </div>

            <div class="four wide column">

            </div>
                
<script>
    $('.training-progress').progress();
</script>

                    


<script>
    $('.training-progress').progress();
</script>

                </div>
                <script>
                    $(document).ready(function () {
                        quera.finish_time = moment('2016-02-12T23:55:55+03:30');
                        quera.offset = moment('2021-08-10T22:12:35.640656+04:30').diff(moment());
                        quera.time = moment();
                        quera.update_clock();
                        quera.times = {}
                    });
                </script>
                
            </div>
        </div>
    </div>
    </div>
    
{% endblock %}
</body>